/* Estilo padrão (desktop) */
body {
    font-size: 16px;
}

/* Para tablets (768px e acima) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        margin: 0;
        box-sizing:none;
    }
    h2{
        font-size:30px;
    }
    footer{
        padding: 5px;
    }
}

/* Para dispositivos móveis (480px e abaixo) */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
    .Subscrever{
        position: relative;
    }
    .topo{
        height: 100px;
    }
    .titlogo{
        width: 40%;
        height: 90%;
    }
    .menu{
        font-size: 10px;
    }
    .mov-boasvindas{
        position: relative;
        right: 60px;
    }
    .mov-boasvindas video{
        width: 150px;
        position: relative;
        left: 50px;
    }
    .conteudo{
        height: 20%;
    }
    h2{
        font-size: 24px;

    }

    .servicos{
        margin-top: -50%;
     }
     .entrar{
        position: relative;
        bottom: 100px;
        right: 25px;
     }
     .cadastrar{
        position: relative;
        bottom: 115px;
        left: 25px;
    }

    .icon-premium{
        display: none;
    }
}

@media (max-width:375px) {

}