/* your styles go here */

.fe-19{
font-size: 19px;
}
.acoes-card{
    /* background-color: brown; */
    /* width: 151px; */
    height: 22px;
}
.acoes-card a{
    margin: 2px;
    text-decoration: none;
}
a{
    cursor: pointer;
    text-decoration: none!important;
}