.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: goldenrod;
    color: white;
    padding-top: 20px;
}

.sidebar .nav-link {
    color: white;
    font-size: 18px;
    padding: 10px;
    display: block;
    transition: 0.3s;
}



/* Estilo do Conteúdo Principal */
.main-content {
    margin-left: 260px;
    padding: 20px;
}
